<h1>them giangvien</h1>
<form action="/add" method="POST">
    Name : <input type="text" name="Hoten"><br>
    Diachi: <input type="text" name="DiaChi"><br>
    SDT : <input type="number" name="sdt"><br>
    MaGV : <input type="number" name="MaGV"><br>
    <button type="submit">them giangvien</button>
</form>